<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Car Rental - Admin</title>
	<link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>

	<h1>Admin Page</h1>
	
	<h3 style="color:red;" th:text="${message}"></h3>
	
	<h3>All Reservations:</h3>
	<table>
		<tr>
			<th>Rent ID</th>
			<th>Car</th>
			<th>Car Picture</th>
			<th>Renter</th>
			<th>Email Address</th>
			<th>Phone Number</th>
			<th>Billing Address</th>
			<th>Rent Start Date</th>
			<th>Rent End Date</th>
		</tr>
		<tr th:each="reservation : ${allReservations}">
			<td th:text="${reservation.id}"></td>
			<td th:text="${reservation.car.type}"></td>
			<td>
				<img th:src="'data:image/png;base64, ' + ${reservation.getCar().getPicture()}" height="90"/>
			</td>
			<td th:text="${reservation.user_name}"></td>
			<td th:text="${reservation.user_email}"></td>
			<td th:text="${reservation.user_phone}"></td>
			<td th:text="${reservation.user_address}"></td>
			<td th:text="${reservation.start_date}"></td>
			<td th:text="${reservation.end_date}"></td>
		</tr>
	</table>
	
	<h3>All Cars:</h3>
	<table>
		<tr>
			<th>Car ID</th>
			<th>Type</th>
			<th>Available To Rent</th>
			<th>Rental Fee Per Day</th>
			<th>Picture</th>
			<th>Edit Car Data</th>
		</tr>
		<tr th:each="car : ${allCars}">
			<td th:text="${car.id}"></td>
			<td th:text="${car.type}"></td>
			<td>
				<span th:if="${car.available == true}">Yes</span>
				<span th:if="${car.available == false}">No</span>
			</td>
			<td th:text="${car.price} + ' Ft'"></td>
			<td>
				<img th:src="'data:image/png;base64, ' + ${car.getPicture()}" height="90"/>
			</td>
			<td>
				<a th:href="@{'/admin/editcar'(carid=${car.id})}" th:text="'Modify Car No. ' + ${car.id}"></a>
			</td>
		</tr>
	</table>
	
	<h3>Add New Car:</h3>
	<form action="/admin/addcar" enctype="multipart/form-data" method="post">
	
		<div class="form-row">
			<label for="type">Car Type:</label>
			<input type="text" id="type" name="type" required/>
		</div>
		
		<div class="form-row">
			<label for="price">Rental Fee Per Day In HUF:</label>
			<input type="number" id="price" name="price" required/>
		</div>
		
		<div class="form-row">
			<label for="availability">Available to Rent:</label>
			<select name="availability" id="availability">
				<option value="true" selected>Yes</option>
				<option value="false">No</option>
			</select>
		</div>
		
		<div class="form-row">
			<label for="picture">Upload A Picture:</label>
			<input type="file" id="picture" name="file" accept=".png" required/>
		</div>
		
		<div class="form-row">
			<input type="submit"/>
		</div>
	</form>

</body>
</html>