<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Rent-A-Car - index</title>
		<link rel="stylesheet" th:href="@{/styles.css}">
	</head>
	<body>
		<h1>Make a reservation!</h1>
		<p>Let's see if any car is available in your chosen time period:</p>
		
		<form action="/freecars" method="GET">
			<div class="form-row">
				<label>Start:</label>
				<input type="date" name="start_date" required>
			</div>
			<div class="form-row">
				<label>End:</label>
				<input type="date" name="end_date" required>
			</div>
			<div class="form-row">
				<button type="submit">Search</button>
			</div>
		</form>
		
		<p th:if="message" th:text="${message}"></p>
		
		<div th:if="${freeCars}">
			<table>
				<thead>
					<tr>
						<th>Picture</th>
						<th>Type</th>
						<th>Price/day</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="car : ${freeCars}">
						<td>
							<img th:src="'data:image/png;base64,' + ${car.picture}" th:alt="${car.type}">
						</td>
						<td>
							<a th:text="${car.type}"
							   th:href="@{'/startreservecar/{carid}'(carid = ${car.id}, start_date = ${startDate}, end_date = ${endDate})}"></a>
						</td>
						<td th:text="${car.price} + ' HUF'"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>